node_modules
!.gitignore
package-lock.json
**/log
**/.vs
**/obj/Debug
**/web/temp
**/**/**/*.cach
**/**/*.cach
**/**/*.test.js
**/**/**/copy/*.js
**/document
**/web-temp
.ka-pid
.pids
*.pdb
*.tlog
*.obj
*.iobj
*.ipdb
*.log
*.recipe
**/packages/*
**/bin/*
**/obj/*
**/release/*
**/win32/store/*
*.config.json